// * {
//   border: Solid 1px black;
// }

// GREENS
$primary : #1CE783;
$tertiary: #29A869;

// GREYS
$grey1300: #16181D;
$grey1200: #272C34;
$grey900: #586174;
$grey800: #6E7A91;
$grey700:#8B94A7;
$grey500: #C5CAD3;
$grey400: #D9DCE2;
$grey300: #E8EAED;

// OPACITY
$grey1200-opacity10: #272C3410;
$grey1200-opacity20: #272C3420;
$grey1200-opacity30: #272C3430;
$grey1200-opacity50: #272C3450;
$grey1200-opacity80: #272C3480;

// DEFAULT
$backgroundColor: $grey300;
$bodyColor: $grey1300;
$bodyFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// SCROLLBAR
/* width */
::-webkit-scrollbar {
  width: 20px;
  padding: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: $grey1200-opacity30;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  border: 8px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: $grey1200-opacity50;
}


body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 0;
}


.choose-file {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  color: $grey1300;
  padding: 16px 32px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 600;
  height: auto;
  line-height: 100%;
  border: 2px solid $grey1300;
  margin-right: 16px;
  display: inline-block;
  box-sizing: border-box;

  &:hover {
    background-color: $grey1200-opacity10;
    cursor: none;
  }
}

.choose-file input[type='file'] {
  display: none;
}

button[type=submit] {
  font-family: 'Poppins', sans-serif;
  background-color: $primary;
  border: none;
  color: $bodyColor;
  padding: 16px 32px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 600;
  height: 48px;
  line-height: 100%;
  width: 100%;
  &:hover {
    cursor: none;
  }
  &:active {
    animation: active-bump .1s forwards;
  }
}
button[type=refresh] {
  font-family: 'Poppins', sans-serif;
  background-color: transparent;
  border: none;
  color: $bodyColor;
  padding: 16px 32px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 600;
  height: 48px;
  line-height: 100%;
  width: 100%;
  &:hover {
    background-color: $grey1200-opacity20;
    cursor: none;
  }
  &:active {
    animation: active-bump .1s forwards;
  }
}


input[type=text] {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #8B94A7;
  background-color: transparent;
  height: auto;
  width: 100%;
  padding: 8px 0;

  &:hover {
    border-color: $grey900;

  }

  &:focus {
    border-color: $tertiary;
  }
}

input[type=number] {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #8B94A7;
  background-color: transparent;
  height: auto;
  padding: 8px 0;
  width: 100%;

  &:hover {
    border-color: $grey900;
  }

  &:focus {
    border-color: $tertiary;
  }
}






input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
  background-color: transparent;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 12px;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
  width: 100%;
  border-radius: 4px;
  &:hover {
    background-color: #272C3410;
  }

  &:focus {
    background-color: #272C3410;
    outline: none;
  }
}

.container {
  position: absolute;
  right: 20vw;
  top: 10vh;
  // -webkit-transform: translate(-50%, -50%);
  // transform: translate(-50%, -50%);
  // transform-origin: center center;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
  background-color: $grey400;
  z-index: 3000;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:active {
    animation: active-bump .1s forwards;
  }
}

.madewithlove {
  position: absolute;
  right: 64px;
  bottom: 32px;
  background-color: $grey1200;
  padding: 4px 8px;
  border-radius: 16px;
  svg{
  fill: $grey500;}
  p {
    line-height: 100%;
  }
}


.rainbow_text_animated {
  &:hover {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s ease-in-out infinite;
    background-size: 200% 100%;
  }
}

@keyframes rainbow_animation {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

@keyframes active-bump {
  0% {
    scaleX: 1;
  }

  20% {
    scale: 1.05;
  }

  80% {
    scale: 1.025;
  }

  100% {
    scale: 1.05;
  }
}





span#display {
  display: block;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: -12px;
  word-wrap: break-word;
  color: $grey300;

}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 100%);
  color: $grey300;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-weight: 600;
  line-height: 100%;
  padding: 64px 24px 16px 24px;
  text-align: center;
  box-sizing: border-box;
}

header {
  circle.sandbox {
    fill: $tertiary !important;
  }

  svg {
    fill: $tertiary;
  }

}

.form_field {
  position: relative;
box-sizing: border-box;
  width: 450px;
  height: 85vh;
  margin: 64px;
  z-index: 9998;
  border-radius: 16px;

  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25x);
  background-blend-mode: overlay;
  background-color: rgba(232, 234, 237, 0.8);
  resize: both;
  min-width: 350px;
  min-height: 350px;
  max-width: 600px;
  max-height: 85vh;

    overflow-y: hidden;
    

}


::-webkit-resizer {

  background: transparent;
border-radius: 500px;



}





form {
  position: absolute;
  display: flex;
  flex-flow: column;
  height: 100vh;
  gap: 32px;
  width: 100%;
  justify-content: start;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 32px 32px 0 32px;
  align-items: center;
  gap: 32px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

}

form> :nth-last-child(2) {
  margin-bottom: 168px;
}

header,
input[type=submit],
.number-input,
.text-input,
.dropdown-input,
.upload-input {
  flex: 0 1 auto;
  width: 100%;
}

.submit-container {



  display: flex;
  flex-direction: column;
  gap: 8px;


    width: 100%;
    position:fixed;
    bottom: 0;
    background: rgb(232,234,237);
    background: linear-gradient(0deg, rgba(232,234,237,1) 0%, rgba(232,234,237,0) 100%);
    padding: 32px;
    box-sizing: border-box;

    
}

.wrapper {
  border-radius: 8px;
  width: 100%;
  position: relative;
  &:hover,
  &:focus,
  &:active {
    background-color: $grey1200-opacity10;
  }
}

.wrapper__select {
  width: 100%;
  height: 48px;
  color: $grey900;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 100%;
  background-color: $grey1200-opacity10;
  cursor: pointer;
}

.wrapper__networks {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;

  svg {
    fill: $grey300;
  }
}

.wrapper__networks__network {
  height: 32px;
  resize: vertical;
  overflow: none;
  position: relative;
  display: none;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  right: 0;
}

.wrapper__networks__network.is-visible {
  display: block;
}

#result_table.overlay {
  display: grid;
  grid-template-columns: 1fr 1fr;
  word-wrap: break-word;
  max-width: 100%;
  gap: 16px;

  line-height: 90%;
  p{
    line-height: 100%;
    margin-bottom: 14px;
  }
}